<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">

    <img src="assets/img/logoapp.png" alt="Logo" class="app-logo" />

    <!-- Formulario de Iniciar Sesión -->
    <form>

      <h1>Cambie Su contraseña</h1>

      <ion-item class="form-item">
        <ion-input label="Contraseña" labelPlacement="floating" placeholder="Ingrese nueva contraseña"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-input label="Repetir Contraseña" labelPlacement="floating" placeholder="Ingrese nueva contraseña nuevamente"></ion-input>
      </ion-item>

      <ion-button expand="full" color="primary" type="submit" (click)="irLogin()">Cambiar contraseña</ion-button>
    </form>




  </div>
</ion-content>