<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="container">

    <h1>Modificar Usuario</h1>

    <form>
      <ion-item class="form-item">
        <ion-input
          label="Nombre"
          type="text"
          labelPlacement="floating"
          
          name="username"
          placeholder="Ingrese el usuario"
          
        ></ion-input>
      </ion-item>
  
      <ion-item class="form-item">
        <ion-input
          label="Email"
          type="text"
          labelPlacement="floating"
          
          name="email"
          placeholder="Ingrese el email"
          
        ></ion-input>
      </ion-item>
  
      <ion-item class="form-item">
        <ion-input
          label="Contraseña"
          type="password"
          labelPlacement="floating"
         
          name="password"
          placeholder="Ingrese la contraseña"
          
        ></ion-input>
      </ion-item>
  
      <ion-item class="form-item">
        <ion-input
          label="Repetir Contraseña"
          type="password"
          labelPlacement="floating"
          
          name="passwordR"
          placeholder="Repita la contraseña"
          
        ></ion-input>
      </ion-item>
  
  
      <ion-button
        shape="round"
        expand="full"
        color="primary"
        type="submit"
        [routerLink]="['/perfilusuario']"
        >Cambiar Perfil</ion-button
      >
    </form>

  </div>

</ion-content>
