<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>EliminarLibrosAdmin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<div class="container">
  <h1>Quieres eliminar el libro de harry potter?</h1>
  <img src="assets/img/librohp1.webp" alt="...">
  <ion-button color="primary" shape="round"[routerLink]="['/editar-borrar-libro-admin']">Aceptar</ion-button>
  <ion-button color="warning" shape="round"[routerLink]="['/editar-borrar-libro-admin']">Cancelar</ion-button>
</div>

</ion-content>
