<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Añadir Libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="container">
    <h1>Ingresar Nuevo Libro</h1>
    <ion-item>
      <ion-input  label="Nombre Libro"  labelPlacement="floating"
      placeholder="Ingrese el nombre del libro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input  label="Autor" labelPlacement="floating"
      placeholder="Ingrese el nombre del autor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input  label="Categoria" labelPlacement="floating"
      placeholder="Ingrese el tipo de categoria"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea class="input-desc" label="Descripcion" labelPlacement="floating"
      placeholder="Ingrese una descripcion"></ion-textarea>
    </ion-item>
    <ion-button  color="primary" shape="round" [routerLink]="['/ver-libros-admin']">Añadir Libro</ion-button>

  </div>

</ion-content>
