<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container" >
      <img src="assets/img/usuario.png" alt="...">
      <h2>{{usuario | uppercase }}</h2>
      <p>{{email | uppercase}}
      </p>
      <ion-button color="warning" [routerLink]="['/modificar-perfil-usuario']">
        <ion-icon name="pencil" slot="start"></ion-icon>
        Modificar
      </ion-button>
    </div>
    <div>
      <p>aca irian los libros favoritos</p>
    </div>
</ion-content>
<!-- <ion-item lines="none">
    
  <ion-label>
    <h2>{{ usuario}}</h2>
    <p>{{ email }}</p>
    <ion-button fill="clear" color="primary" [routerLink]="['/modificar-perfil-usuario']">
      <ion-icon name="pencil" slot="start"></ion-icon>
      Modificar
    </ion-button>
  </ion-label>
</ion-item> -->