ion-img{
    width: auto;  
    height: 150px; 
    object-fit: cover; 
}

.btn-usuario{
    margin-left:px;
}

ion-label{
    text-align: left;
}


h2{
    color: #6D4C41;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}