
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Administrador</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="ion-padding">
   

    <div>
      <img src="assets/img/logoapp.png" alt="">
      <p>Este es la seccion de andministracion. Arriba a la derecha esta el menu donde podras administrar los libros.
        Administra con responsabilidad.
      </p>
    </div>

  </ion-content>
</div>