<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="login-container">
    
    <img src="assets/img/logoapp.png" alt="Logo" class="app-logo" />

    <!-- Formulario de Iniciar Sesión -->
    <form>
      <ion-item class="form-item">
        <ion-input
          label="Usuario"
          type="text"
          labelPlacement="floating"
          [(ngModel)]="usuario"
          name="usuario"
          placeholder="Ingrese el usuario"
          
        ></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-input
          label="Contraseña"
          type="password"
          labelPlacement="floating"
          [(ngModel)]="password"
          name="password"
          placeholder="Ingrese la contraseña"
          
        ></ion-input>
      </ion-item>

      <ion-button expand="full" color="primary" type="submit" (click)="inicioSesion()" shape="round">Iniciar Sesión</ion-button>
    </form>

    <!-- Botón de Crear Cuenta -->
    <ion-button expand="full" color="warning" [routerLink]="['/registrarse']" shape="round">Crear Cuenta</ion-button>

    <p> No recuerdas tu clave? <a routerLink="/recuperar-contra">Recuperala aqui</a></p>


    
  </div>

  
</ion-content>