<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Contenedor principal con fondo -->
  <div class="container">
    <!-- Logo de la app -->
    <img src="assets/img/logoapp.png" alt="Logo" class="app-logo" />

    <!-- Formulario de Crear Cuenta -->
    <form>
      <ion-item class="form-item">
        <ion-input
          label="Nombre"
          type="text"
          labelPlacement="floating"
          [(ngModel)]="username"
          name="username"
          placeholder="Ingrese el usuario"
          
        ></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-input
          label="Email"
          type="text"
          labelPlacement="floating"
          [(ngModel)]="email"
          name="email"
          placeholder="Ingrese el email"
          
        ></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-input
          label="Contraseña"
          type="password"
          labelPlacement="floating"
          [(ngModel)]="password"
          name="password"
          placeholder="Ingrese la contraseña"
          
        ></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-input
          label="Repetir Contraseña"
          type="password"
          labelPlacement="floating"
          [(ngModel)]="passwordR"
          name="passwordR"
          placeholder="Repita la contraseña"
          
        ></ion-input>
      </ion-item>


      <ion-button
        shape="round"
        expand="full"
        color="primary"
        type="submit"
        (click)="validacionDatosCorreo()"
        >Crear Cuenta</ion-button
      >
    </form>
  </div>
</ion-content>
